n8n/Feedbot.json
{
  "name": "Feedbot - News Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": null
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-112, 48],
      "id": "36e4aff0-4060-4eb6-b369-f1be781d274c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const sources = [\n  { url: \"https://feeds.bbci.co.uk/news/rss.xml\", category: \"general\" },\n  { url: \"https://techcrunch.com/feed/\", category: \"tech\" },\n  { url: \"https://hnrss.org/frontpage\", category: \"tech\" },\n  { url: \"https://www.theverge.com/rss/index.xml\", category: \"tech\" },\n  { url: \"https://www.cnbc.com/id/100003114/device/rss/rss.html\", category: \"finance\" },\n  { url: \"https://feeds.marketwatch.com/marketwatch/topstories/\", category: \"finance\" },\n];\nreturn sources.map(source => ({ json: source }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 48],
      "id": "f75e6301-a368-411d-91dd-0ad2d50d6254",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [320, 272],
      "id": "c5b80b74-632e-471b-9927-518d99f6e900",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/process",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [880, 80],
      "id": "3aa3abc0-04cf-4d24-878d-c50bda1138ba",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    data: $input.all().map(item => item.json),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [592, 48],
      "id": "7343b564-eb94-440d-9547-16c56c8feab9",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1136, 272],
      "id": "5c04bcdf-fcea-4945-996c-aace16dacbf9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "S21Ffkq77tL3prC6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.digest }}",
        "messages": {
          "messageValues": [
            {
              "message": "Extract the digest from the JSON. INCLUDE NOTHING BUT THE EXTRACTED DIGEST, AND KEEP THE FORMAT OF THE \"Daily News Digest\". "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [1104, 80],
      "id": "d53ad8bd-43bf-49a2-8ea2-cbacc1cfe466",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "Take the text and convert it into a visually appealing HTML sample. CONVERT IT AND ONLY INCLUDE THE CONVERTED HTML AND STYLING. Every time a \"\\n\" appears, it represents a new line. Add styling to make it visually appealing to the user. "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [1456, 80],
      "id": "7ea87ccf-5a18-47d6-930c-c5c41459bbcd",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1520, 240],
      "id": "022c6f23-5c26-4d48-946b-9600b34f813c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "S21Ffkq77tL3prC6",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [[]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "140f8cb3-a4d0-4552-9462-a8227d9bb695",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1229f93756f7fdb504e67cfd517ebc916df6f16e71b3cf6e236fb637656118c4"
  },
  "id": "xQkYgWwt3jWLcSpv",
  "tags": []
}
